    body, html {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #333;
      background-color: #f4f4f9;
      text-align: center;
    }
    #header {
      background-color: #2c3e50;
      color: #ecf0f1;
      padding: 1rem;
      position: relative;
      width: 100%;
      top: 0;
      left: 0;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
	.main-container {
	  margin-top: 40px; /* Space for fixed header */
	  display: grid;
	  gap: 20px; /* Space between grid items */
	  justify-content: left;
	  padding: 1rem;
	}
	
	.container {
	  display: grid;
	  grid-template-columns: repeat(2, 49%); /* 2 columns for sensors inside */
	  gap:10px;
	  margin: 10px 10px 10px 10px;
	}
	
	.container-input {
	  display: grid;
	  grid-template-columns: repeat(2, 40%); /* 2 columns for sensors inside */
	  margin: 10px 10px 10px 10px;
	}
	
    .card {
      background-color: #fff;
      padding: 20px;
      border-radius: 12px;
      width: 250px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      transition: transform 0.3s, box-shadow 0.3s;
    }
    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    }
    .temperature { color: #e67e22; }
    .humidity { color: #3498db; }
	.accelerometer1 { color: #207ea1 }
	.accelerometer2 { color: #035563 }
    .reading { font-size: 2rem; }
    h3 {
      margin: 0;
      font-size: 1.2rem;
    }

	#chart-humidity, #chart-temperature, #chart-accel{
	  border-radius: 3px;
	  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
	}

	input[type="text"] {
            flex: 1;
            padding: 5px;
			margin-left:10px;
        }
		
	input[type="textarea"] {
		flex: 1;
		width:50px;
		height:60px;
		margin-left:10px;
	}
	
	a:link, a:visited {
	  background-color: #2b4982;
	  color: white;
	  padding: 15px 25px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  border-radius: 10px;
	}

	a:hover, a:active {
	  background-color: #295ec2;
	}
	
	.form-row {
        display: flex;
        align-items: right;
        margin-bottom: 10px;
	}
	
	input {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
	
	input[type="text"] {
            padding: 8px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
			
        }
    input[type="submit"] {
            background-color: #2c3e50;
            color: white;
            padding: 10px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
			max-width: fit-content;
			margin-left: auto;
			margin-right: auto;
        }
    input[type="submit"]:hover {
            background-color: #295ec2;
        }
		
	progress {
		width: 50%;
		height: 30px;
		margin-bottom: 10px;
    }
		
	#normal-button {
		width:fit-content;
		background-color: #2c3e50;
        color: white;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
	}
	
	#normal-button:hover {
		background-color: #295ec2;
	}
	
	#special-button {
		width:fit-content;
		background-color: #bd0612;
        color: white;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
	}
	
	#special-button:hover {
		background-color: #ff2635;
	}